language: python
python:
- '2.6'
- '2.7'
env:
- secure: PEOM40L5TK78GFQyt2I2PgOFf8QYGcP0YZmgMhacuKnCI0Lr3wztXucWtxeVpXeuDDe12d349FumQrg6ard8T69ZZYe25eJ5lR9ZMyVOzFJ9Ew3XhoEgWBgKFRNjEkhFU+/reYWRBkYHyFImLe9d8wq1I2UMQ6z2189PLKfBtIg=
install:
- pip install .
- pip install pylint
- pip install -r requirements.txt
script:
- nosetests -w tests/unit
- nosetests -w tests/integration
- pylint -E datapoint
deploy:
  provider: pypi
  user: jacob.tomlinson
  password:
    secure: lxlsbRqzo7XTAtjbU8KlkEdB/foHJgtQ1lYBa147k0x4PTaoicGUffmqWOO6P8+qU3sBZTMxeMIyyNWY3aS9k1JrFi7UYkLxSTI50BG/atNPiNa3xnOVuFjj8i3hDfXudRmWcFtxZH+83yqQ5VzEesn1UNdnBV87jvHv9MviFrc=
  on:
    tags: true
    repo: jacobtomlinson/datapoint-python
