[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
appdirs = "*"
requests-mock = "*"
geojson = "*"
datapoint = {file = ".", editable = true}

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
flake8-bugbear = "*"
pytest = "*"
flake8-pytest-style = "*"

[documentation]
sphinx = "*"

[requires]
python_version = "3.11"
